SkateRepository.Service/Service References/SkateboardServiceReference/SkateboardService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Skate.Shared" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Skate.Shared" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSkateboard">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Skateboard" nillable="true" type="tns:Skateboard" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSkateboard" nillable="true" type="tns:ArrayOfSkateboard" />
  <xs:complexType name="Skateboard">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateAdded" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Rating" type="xs:int" />
      <xs:element minOccurs="0" name="SkateboardName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SkateboardType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Skateboard" nillable="true" type="tns:Skateboard" />
</xs:schema>