SkateRepository.Service/Service References/SkateboardServiceReference/SkateboardService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52860/SkateboardService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Skate.Shared" />
  <xs:element name="GetSkateboards">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSkateboardsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Skate.Shared" minOccurs="0" name="GetSkateboardsResult" nillable="true" type="q1:ArrayOfSkateboard" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSkateboard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSkateboardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Skate.Shared" minOccurs="0" name="GetSkateboardResult" nillable="true" type="q2:Skateboard" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSkateboard">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Skate.Shared" minOccurs="0" name="newSkateboard" nillable="true" type="q3:Skateboard" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSkateboardResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSkateboard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Skate.Shared" minOccurs="0" name="updatedSkateboard" nillable="true" type="q4:Skateboard" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSkateboardResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSkateboard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSkateboardResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSkateboards">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Skate.Shared" minOccurs="0" name="updatedSkateboards" nillable="true" type="q5:ArrayOfSkateboard" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSkateboardsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>